<header>
    <div class="geek-logo">
        <img src="/src/img/logo.png" alt="" />
        <span>NOMBRE RE LOCO</span>
    </div>

    <form>
         <div class="form-search">
             <div class="geek-search" id="autocomplete-element">
                 <input class="geek-search-input" autofocus id="autocomplete-input" name="q" type="text" placeholder="&iquest;Qué estás buscando?" autocomplete="off">
                 <button class="geek-search-button" type="submit">Buscar</button>
             </div>
         </div>
     </form>

     <div class="geek-account">
         <div class="geek-login">
             <p>Inicia sesion</p>
             <strong><p>Mi cuenta</p></strong>
         </div>
         <div class="geek-account-actions">
             <i class="fa fa-heart" aria-hidden="true"></i>
             <i class="fa fa-shopping-cart" aria-hidden="true"></i>
         </div>
     </div>
</header>
<nav>
    <ul>
        <li>Ropa</li>
        <li>Accesorios</li>
        <li>Electronica</li>
        <li>Casa y Oficina</li>
        <li>Ropa</li>
        <li>Accesorios</li>
        <li>Electronica</li>
        <li>Casa y Oficina</li>
    </ul>
</nav>
